@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vibur&display=swap');


body {
	margin: 0;
}

/**************************************** NAV BAR ************************************************/

	#navbar {
		width: 100%;
		height: 50px;
		background: #92d2ea;
		display: grid;
		grid-template-areas: "logo busqueda contenedorbotones toggle";
		grid-template-columns: minmax(min-content, min-content) minmax(min-content, min-content) 1fr minmax(min-content, min-content);
		position: fixed;
		top: 0;
		left: 0;
		z-index: 300;
	}

	#contenedorbotones{
		display: grid;
		grid-template-areas: "hombre mujer personalizadas lisas dudas contacto"
	}

	#logonav {
		grid-area: logo;
	}

	#hombre {
		grid-area: hombre;
	}

	#mujer {
		grid-area: mujer;
	}

	#personalizadas {
		grid-area: personalizadas;
	}

	#lisas {
		grid-area: lisas;
	}

	#dudas {
		grid-area: dudas;
	}

	#contacto {
		grid-area: contacto;
	}

	/********* botones filtro **********/

	#busqueda {
		grid-area: busqueda;
		width: 115px;
		background: burlywood;
		position: relative;
	}

	#contenedorbotones {
		display: none; /* ver que cambié x grid en minwidth 601px */
		flex-direction: column;
		width: fit-content;
		background: gold;
		position: absolute;
		top: 100%;
		left: 0px;
	}

	.botonnav {
		color: white;
		height: 24px;
		width: 150px; /* para que sobresalga del boton busqueda nada mas */
		text-align: center;
	}

	#dudas {
		position: relative;
	}

	#contenedordudas {
		position: absolute;
		left: 100%;
		top: 0;
		background: chocolate;
		display: none;
		flex-direction: column;
	}

	/************* togle **************/

	#contenedortoggle {
		grid-area: toggle;
		width: 50px;
		/*display: flex;*/
		justify-content: center;
		align-items: center;
		display: none;
	}

	#menutoggle {
		transform: scale(1.4);
	}

	@media screen and (min-width: 601px) {
		#contenedorbotones {
			/*display: grid !important; /* Si no, con el click del toggle se pone none y despues al agrandarlo queda asi */
		}
	}

	@media screen and (max-width: 530px) {
		#contenedortoggle {
			display: flex;
		}
		#contenedorbotones {
			display: none;
			grid-template-areas:
			"hombre"
			"mujer"
			"personalizadas"
			"lisas"
			"dudas"
			"contacto";
			position: fixed;
			top: 50px;
			width: 100%;
			flex-direction: column;
			height: calc(100vh - 50px); /* -50 px del nav */
			z-index: 301;
		}
		.botonnav {
			background: grey;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

/*************************************** CAROUSEL ********************************************/
	.carousel {
		height: 500px;
		overflow: hidden;
	}

	.carousel-control-next, .carousel-control-prev {
		color: red;
	}


/**************************************************** PRODUCTOS *************************************************/

	#productos {
		padding-top: 45px;
		width: 100%;
		min-height: 100vh;
		background: lightgrey;
		overflow-x: hidden;
		overflow-y: hidden;
		z-index: 6;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		padding-bottom: 31px;
	}


	#tituloproductos{
		margin-top: 50px; /* alto del nav */
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.contendorproducto {
		width: calc(100% / 4);
		display: inline-flex;
		justify-content: center;
		height: 240px;
		overflow: visible;
	}

	@media screen and (max-width: 1030px) {
		.contendorproducto {
			width: calc(100% / 3);
		}
	}

	@media screen and (max-width: 783px) {
		.contendorproducto {
			width: calc(100% / 2);
		}
	}

	@media screen and (max-width: 535px) {
		.contendorproducto {
			width: calc(100%);
		}
	}

	/* DENTRO DEL FONDO DEL PRODUCTO */
		.nombreyprecio {
			position: absolute;
			bottom: 0;
			width: 100%;
			text-align: center;
			z-index: 1;
			opacity: 0;
			max-height: 40px;
			font-size: 1em;
		}

		#producto1:hover .nombreyprecio, #producto2:hover .nombreyprecio, #producto3:hover .nombreyprecio, #producto4:hover .nombreyprecio, #producto5:hover .nombreyprecio, #producto6:hover .nombreyprecio, #producto7:hover .nombreyprecio, #producto8:hover .nombreyprecio, #producto9:hover .nombreyprecio, #producto10:hover .nombreyprecio, #producto11:hover .nombreyprecio, #producto12:hover .nombreyprecio {
			opacity: 1;
			transition: opacity 0.5s 0.1s ease; /* VER */
		}

	#contenedorproducto1, #contenedorproducto2, #contenedorproducto3, #contenedorproducto4, #contenedorproducto5, #contenedorproducto6, #contenedorproducto7, #contenedorproducto8, #contenedorproducto9, #contenedorproducto10, #contenedorproducto11, #contenedorproducto12  {
		
	}

	#producto1, #producto2, #producto3, #producto4, #producto5, #producto6, #producto7, #producto8, #producto9, #producto10, #producto11, #producto12 {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		position: relative;
		background: red;
		width: 200px;
		height: 200px;
	}

	#producto1:hover, #producto2:hover, #producto3:hover, #producto4:hover, #producto5:hover, #producto6:hover, #producto7:hover, #producto8:hover, #producto9:hover, #producto10:hover, #producto11:hover, #producto12:hover {
		transform: scale(1.2);
		z-index: 5; /* Para que se ponga por encima de los demas */
		width: 210px;
		height: 240px;
		transition: width 0.1s, height 0.1s, z-index 0.1s, transform 0.1s;
		padding-top: 5px;
	}

	#imagen1, #imagen2, #imagen3, #imagen4, #imagen5, #imagen6, #imagen7, #imagen8, #imagen9, #imagen10, #imagen11, #imagen12 {
		z-index: 2;
	}

	/*#imagen1:hover, #imagen2:hover, #imagen3:hover, #imagen4:hover, #imagen5:hover, #imagen6:hover, #imagen7:hover, #imagen8:hover, #imagen9:hover, #imagen10:hover, #imagen11:hover, #imagen12:hover {
		margin-top: 5px;
		transition-duration: 0.1s;
	}*/

	#content1, #content2, #content3, #content4, #content5, #content6, #content7, #content8, #content9, #content10, #content11, #content12  {
		position: absolute;
	}

/***************************************** PRESUPUESTO **************************************************/

	#presupuestoyformulario {
		display: grid;
		grid-template-areas: "presupuesto formulario"
	}

	#presupuesto {
		width: 100%;
		height: 100%;
		background: green;
		z-index: 4;
		grid-area: presupuesto;
	}

	#pedidoinput {
		width: 70%;
	}

/************************************** FORMULARIO **************************************/

	#formulario {
		background: orange;
		grid-area: formulario;
		/*min-height: 100vh;*/
	}

/*************************************** PREGUNTAS FRECUENTES **********************************************/
	#preguntasfrecuentes {
		height: calc(100vh - 50px); /* LE RESTO EL TAMAÑO DEL NAV FIJO */
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background: beige;
		position: relative;
	}

	#preguntasfrecuentes #preguntasfrecuentestitle {
		position: absolute;
	}

	.accordion {
		width: 80%;
	}

	.accordion h2 {
		top: 0;
	}

	.accordion-header {
		width: 100%;
	}

/**************************************** QUIENES SOMOS *****************************************/
	#quienessomos {
		height: calc(100vh - 50px); /* LE RESTO EL TAMAÑO DEL NAV FIJO */
		background: brown;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		gap: 1rem;
	}

	#quienessomos .cardcontainers {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	/******** CARD 1 ************/
		#quienessomos #card1container {
			
		}

		#quienessomos #card1container #card1 {
			height: 350px;
			width: 230px;
			/* border: 1px solid black; */
			background: #e9e9e9;
			/* background-position: 5px 5px; */
			position: relative;
			box-shadow: 6px 6px 0 0px #00000063;
		}

		#quienessomos #card1container #card1:after {
			content: " ";
			/* background: white; */
			height: 100%;
			width: 100%;
			position: absolute;
			top: -7px;
			left: -7px;
			border: 1px solid black;
			pointer-events: none; /* Para permitir hover detrás */
		}

		#quienessomos #card1container #card1 #profilePicContainerCard1 {
			height: 110px;
			width: 110px;
			background: url(https://c.pxhere.com/photos/f7/4c/smile_profile_face_male_portrait_young_person_glasses-451655.jpg!d);
			background-size: cover;
			background-position: 0px -16px;
			position: absolute;
			top: 6px;
			left: 6px;
		}

		#quienessomos #card1container #card1 #nameCard1,
		#quienessomos #card1container #card1 #surnameCard1 {
			position: absolute;
			left: 122.8px;
			letter-spacing: 5px;
			background: linear-gradient(180deg, #fb8e8e 50%, transparent 50%);
			background-size: 200px 28px;
			padding-left: 4px;
			background-position: 0px 24px;
			font-family: 'Josefin Slab', serif;
			font-size: 2em;
			overflow: hidden;
			background-repeat: no-repeat;
		}

		#quienessomos #card1container #card1 #nameCard1 {
			top: -3px;
		}

		#quienessomos #card1container #card1 #surnameCard1 {
			top: 35px;
		}

		#quienessomos #card1container #card1 #positionCard1 {
			position: absolute;
			top: 75px;
			left: 122px;
			font-family: 'Josefin Slab';
			font-size: 1.2em;
			text-shadow: 1px 1px #fb8e8ea6;
		}

		#quienessomos #card1container #card1 #ageCard1 {
			position: absolute;
			top: 93px;
			left: 122px;
			font-size: 1.2em;
			font-weight: lighter;
		}

		#quienessomos #card1container #card1 .divisorCard1 {
			height: 1px;
			width: 80%;
			position: absolute;
			left: 10%;
			background: #bfbfbf;
			box-shadow: 0px -1px 0 0px white;
		}

		#quienessomos #card1container #card1 #divisor1Card1 {
			top: 126px;
		}

		#quienessomos #card1container #card1 #divisor2Card1 {
			top: 241px;
		}

		#quienessomos #card1container #card1 #textCard1 {
			width: 80%;
			font-size: 0.9em;
			line-height: 1.2em;
			position: absolute;
			left: 10%;
			text-align: center;
			top: 132px;
		}

		/**** Social media 1 *****/
			#quienessomos #card1container #card1 #socialMedia1 {
				height: 35px;
				width: 35px;
				background: #3b59994f;
				position: absolute;
				bottom: 15px;
				right: 16px;
				z-index: 3;
			}

			#quienessomos #card1container #card1 #socialMedia1 span {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				display: flex !important;
				justify-content: center;
				align-items: center;
				font-size: 30px;
				transition: 0.2s;
				transform: translate(0px, 0px);
			}

			#quienessomos #card1container #card1 #socialMedia1 span:nth-child(1) {
				background: #3b5999;
				opacity: 0.5;
			}

			#quienessomos #card1container #card1 #socialMedia1 span:nth-child(2) {
				background: #3b5999;
				opacity: 1;
			}

			#quienessomos #card1container #card1 #socialMedia1:hover {
				background: #3b59994f !important;
			}

			#quienessomos #card1container #card1 #socialMedia1:hover span {
				background: #3b5999;
			}

			#quienessomos #card1container #card1 #socialMedia1:hover span:nth-child(1) {
				transform: translate(-5px, -5px);
				opacity: 0.5;
			}

			#quienessomos #card1container #card1 #socialMedia1:hover span:nth-child(2) {
				transform: translate(-10px, -10px);
				opacity: 1;
			}


		/**** Social media 2 *****/
			#quienessomos #card1container #card1 #socialMedia2 {
				height: 35px;
				width: 35px;
				background: red;
				position: absolute;
				bottom: 15px;
				right: 58px;
				overflow: hidden;
			}

			#quienessomos #card1container #card1 .fa-linkedin-in:before {
				position: absolute;
				display: flex;
				/* align-content: center; */
				justify-content: center;
				height: 100%;
				width: 100%;
				align-items: center;
				z-index: 2;
			}

			#quienessomos #card1container #card1 #socialMedia2 span {
				position: relative;
				background: green;
				height: calc(100% / 6);
				width: 100%;
				display: block;
				right: 100%;
				transition-delay: calc(0.2s * var(--i));
				transition-timing-function: ease;
				transition-duration: 1s;
			}

			#quienessomos #card1container #card1 #socialMedia2:hover span {
				right: 0%;

			}

		/***** Social Media 3 ******/
			#quienessomos #card1container #card1 #socialMedia3 {
				position: absolute;
				height: 35px;
				width: 35px;
				bottom: 15px;
				right: 100px;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			#quienessomos #card1container #card1 #socialMedia3 #icon1SocialMedia3Card1 {
				color: #d30000;
				mix-blend-mode: difference;
				position: absolute;
				z-index: 1;
			}

			#quienessomos #card1container #card1 #socialMedia3 #background1SocialMedia3Card1 {
				position: absolute;
				height: 35px;
				width: 35px;
				top: 0px;
				left: 0px;
				background: linear-gradient(90deg, #d30000 50%, #ffffff00 50%);
				background-size: 70px 35px;
				background-position: -35px 0px;
				z-index: 2;
				mix-blend-mode: difference;
				transition: 0.5s;
				/*pointer-events: none;*/ /* Because it's over the icon */
				border: 1px solid #d30000;
			}

			/*#quienessomos #card1container #card1 #socialMedia3 #icon1SocialMedia3Card1:hover + #background1SocialMedia3Card1 {
				background-position: 0px 0px;
			}*/

			#quienessomos #card1container #card1 #socialMedia3 #icon2SocialMedia3Card1 {
				color: white;
				/* mix-blend-mode: difference; */
				position: absolute;
				z-index: 0;
			}

			#quienessomos #card1container #card1 #socialMedia3 #background2SocialMedia3Card1 {
				position: absolute;
				height: 35px;
				width: 35px;
				top: 0px;
				left: 0px;
				background: linear-gradient(90deg, #000000 50%, #ffffff00 50%);
				background-size: 70px 35px;
				background-position: 14px 0px;
				z-index: 1;
				mix-blend-mode: difference;
			}

	/************** CARD 2 ************/
		
		/* SI NO SE PUEDE CON EL Z-INDEX PROBAR CON PRESERVE-3D + PERSPECTIVE EN EL PADRE Y TRANSLATEZ(-1px) EN EL HIJO */
		/* SI NO SE PUEDE CON EL Z-INDEX PROBAR CON PRESERVE-3D + PERSPECTIVE EN EL PADRE Y TRANSLATEZ(-1px) EN EL HIJO */
		/* SI NO SE PUEDE CON EL Z-INDEX PROBAR CON PRESERVE-3D + PERSPECTIVE EN EL PADRE Y TRANSLATEZ(-1px) EN EL HIJO */
		/* SI NO SE PUEDE CON EL Z-INDEX PROBAR CON PRESERVE-3D + PERSPECTIVE EN EL PADRE Y TRANSLATEZ(-1px) EN EL HIJO */
		/* SI NO SE PUEDE CON EL Z-INDEX PROBAR CON PRESERVE-3D + PERSPECTIVE EN EL PADRE Y TRANSLATEZ(-1px) EN EL HIJO */
		/* SI NO SE PUEDE CON EL Z-INDEX PROBAR CON PRESERVE-3D + PERSPECTIVE EN EL PADRE Y TRANSLATEZ(-1px) EN EL HIJO */


		#quienessomos #card2container #card2 {
			/*height: 295px;*/
			/*width: 215px;*/
			/*background: white;*/
			/*border-radius: 1.2em;*/
			/*border: 0.4em solid;*/
			position: relative;
			/*display: contents;*/
			display: flex;
			justify-content: center;
			top: -63px;
		}

		#quienessomos #card2container #card2 #profilePicContainerCard2 {
			position: absolute;
			/*left: 50%;
			transform: translate(-50%);*/
			height: 150px;
			width: 150px;
			/* background: url(https://c.pxhere.com/photos/f7/4c/smile_profile_face_male_portrait_young_person_glasses-451655.jpg!d); */
			background-size: cover;
			border-radius: 50%;
			/*border: 3px solid beige;*/
			animation: floating ease-in-out 1.5s infinite;
			animation-direction: alternate-reverse;
			/*top: 0px;*/
			/*bottom: 0px;*/
			transition: 1s ease-in-out;
		}

		@keyframes floating {
			0% {
				top: 0px;
				/*bottom: 133px;*/
			}
			100% {
				top: -16px;
				/*bottom: 149px;*/
			}
		}

		#quienessomos #card2container #card2 #profilePicContainerCard2:hover {
			animation-play-state: paused;
			/*animation-name: stayUp;*/
			/*display: contents;*/
		}

		#quienessomos #card2container #card2 #profilePicContainerCard2:hover #shadowProfilePicCard2 {
			animation-play-state: paused;
			/*animation-name: none;*/
			opacity: 0;
		}

		/* Changed :after pseudo-el for div cause I can't change styling from JS (needed for animation) */
		#quienessomos #card2container #card2 #profilePicContainerCard2 #shadowProfilePicCard2 {
			/*content: "";*/
			position: absolute;
			height: 20px;
			width: 111%;
			bottom: -40px;
			left: 50%;
			transform: translate(-50%);
			background: #00000078;
			display: block;
			border-radius: 50%;
			filter: blur(9px);
			animation: floatingShadow 1.5s infinite ease-in-out;
			animation-direction: alternate-reverse;
			pointer-events: none;
		}

		@keyframes floatingShadow {
			0% {
				bottom: -40px;
				height: 20px;
				filter: blur(9px);
			}
			100% {
				bottom: -56px;
				height: 13px;
				filter: blur(15px);
			}
		}

		#quienessomos #card2container #card2 #profilePicContainerCard2 #profilePicCard2 {
			background: url(https://c.pxhere.com/photos/f7/4c/smile_profile_face_male_portrait_young_person_glasses-451655.jpg!d);
			height: 150px;
			width: 150px;
			background-size: cover;
			border-radius: 50%;
			position: absolute;
			top: 0px;
			/*left: 0px;*/
			transition: 1s ease-in-out;
			border: 3px solid beige;
			/*transform: scale(1);*/
			display: flex;
			justify-content: center;
			transform-style: preserve-3d;
			perspective: 10px;
		}

		/* Create an after pseudo-el to expand when picture is hovered and prevent mouse from being out of the main div. It's bigger than the main div due to the scale x0.7 effect */
		#quienessomos #card2container #card2 #profilePicContainerCard2 #profilePicCard2:after {
			content: "";
			height: 0px;
			width: 100%;
			position: absolute;
			top: 100%;
		}

		#quienessomos #card2container #card2 #profilePicContainerCard2:hover #profilePicCard2:after {
			height: 145%;
			width: 165%;
		}

		#quienessomos #card2container #card2 #profilePicContainerCard2 #profilePicCard2:hover {
			/*transform: scale(0.7);*/
			/*top: -75px;*/
			/*bottom: 228px;*/
			/*bottom: 68px;*/
			/*animation: scaleCard 1s 1 forwards;*/
		}

		@keyframes scaleCard {
			0% {
				transform: scale(1);
				top: 0px;
			}
			100% {
				transform: scale(0.5);
				top: -75px;
			}
		}

		@keyframes scaleCardReverse {
			0% {
				transform: scale(0.5);
				top: -75px;
			}
			100% {
				transform: scale(1);
				top: 0px;
			}
		}

		#quienessomos #card2container #card2 #profilePicContainerCard2:hover #profilePicCard2 {
			/*top: -75px;*/
			/*transform: translateY(-75px);*/
			/*left: 50%;
			transform: translateX(-50%);*/
		}

		#quienessomos #card2container #card2 #profilePicContainerCard2 #profilePicCard2 #contentCard2 {
			height: 0px; 
			width: 215px;
			background: red;
			position: absolute;
			/*transform: scale(calc(1/0.7)) translateZ(-1px);*/ /* Revert scale x0.7 from parent */
			transform: scale(calc(1/0.5)) translateZ(-1px);
			top: 72px;
			border-radius: 20px;
			transform-origin: top;
		}

		#quienessomos #card2container #card2 #profilePicContainerCard2 #profilePicCard2:hover #contentCard2 {
			/*animation: displayCardContent 1s 0.5s 1 forwards;*/
			/*height: 410px;*/
		}

		@keyframes displayCardContent {
			0% {
				height: 0px;
			}
			100% {
				height: 295px;
			}
		}

		@keyframes displayCardContentReverse {
			0% {
				height: 295px;
			}
			100% {
				height: 0px;
			}
		}

		#quienessomos #card2container #card2 #profilePicContainerCard2 #profilePicCard2 #contentCard2 #socialMedia1Card2 {
			position: absolute;
			height: 50px;
			width: 50px;
			left: 15px;
			bottom: 15px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		#quienessomos #card2container #card2 #profilePicContainerCard2 #profilePicCard2 #contentCard2 #socialMedia1Card2 i {
			mix-blend-mode: difference;
			color: #ffffff;
			z-index: 1;
			position: relative;
		}
		
		#quienessomos #card2container #card2 #profilePicContainerCard2 #profilePicCard2 #contentCard2 #socialMedia1Card2 #socialMedia1Card2Background {
			position: absolute;
			height: 0%;
			width: 0%;
			display: flex;
			justify-content: center;
			align-items: center;
			background: white;
			color: white;
			transition: 0.5s;
			border-radius: 50%;
			z-index: -1;
		}

		#quienessomos #card2container #card2 #profilePicContainerCard2 #profilePicCard2 #contentCard2 #socialMedia1Card2 i:hover + #socialMedia1Card2Background {
			height: 100%;
			width: 100%;
		}
		

	/************* CARD 3 ************/
		#quienessomos #card3container #card3 {
			height: 325px;
			width: 218px;
			background: linear-gradient(90deg, #0c0c0c, #342c2c);
			box-shadow: 0px 15px 44px -13px rgb(0 111 255);
			border-radius: 18px;
			overflow: hidden;
			position: relative;
		}

		#quienessomos #card3container #card3 #nameCard3 {
			height: 40px;
			width: 100%;
			position: absolute;
			top: 10px;
		}

		#quienessomos #card3container #card3 #nameCard3 svg {
			width: 100%;
			height: 100%;
			overflow: visible; 
		}

		#quienessomos #card3container #card3 #nameCard3 svg g {
			stroke: #00a0ff;
			stroke-width: 0.25mm;
			fill: transparent;
			stroke-dasharray: 400;
			stroke-dashoffset: 800;
			animation: neonName 4s infinite;
			filter: drop-shadow(0px 0px 9px #00a0ff);
		}

		@keyframes neonName {
			0% {
				stroke-dashoffset: 490;
			}
			49% {
				fill: transparent;
			}
			50% {
				stroke-dashoffset: 800;
			}
			75% {
				fill: #00a0ff;
			}
		}

		#quienessomos #card3container #card3 #profilePicContainerCard3 {
			position: absolute;
			height: 100px;
			width: 100px;
			/* background: white; */
			top: 64px;
			left: 50%;
			transform: translate(-50%);
			border: 1px solid greenyellow;
			border: 1px solid #00a0ff;
			padding: 2px;
		}

		#quienessomos #card3container #card3 #profilePicContainerCard3:hover {
			box-shadow: 0 0 5px rgb(0 184 255 / 20%), inset 0 0 5px rgb(0 184 255 / 10%), 0 2px 0 #000;
			animation: glow 800ms ease-out infinite alternate;
		}

		@keyframes glow {
			0% {
				border-color: #00a0ff;
				box-shadow: 0 0 5px rgb(0 184 255 / 20%), inset 0 0 5px rgb(0 184 255 / 10%), 0 2px 0 #000;
			}	
			100% {
				border-color: #66fff8;
				box-shadow: 0 0 20px rgb(0 184 255 / 60%), inset 0 0 10px rgb(0 184 255 / 40%), 0 2px 0 #000;
			}
		}

		#quienessomos #card3container #card3 #profilePicContainerCard3 #profilePicCard3 {
			background: url(https://media.istockphoto.com/photos/portrait-of-smiling-business-man-with-crossed-arms-looking-at-camera-picture-id1170154563?k=20&m=1170154563&s=170667a&w=0&h=i8u0frvbOtDnX-E-vmgKOGAzs7xm6YyOB5_Bck3505Y=);
			height: 100%;
			width: 100%;
			background-size: 310px;
			background-position: -109px -7px;
		}

		#quienessomos #card3container #card3 #positionCard3 {
			color: white;
			position: absolute;
			top: 173px;
			left: 50%;
			transform: translate(-50%);
			background: linear-gradient(180deg, #005e97, #00a0ff);
			width: 100px;
			height: 23px;
			border-radius: 44px;
			display: flex;
			justify-content: center;
			align-items: center;
			box-shadow: 0px 1px 0px 0px #00a0ffc4 inset;
		}

		#quienessomos #card3container #card3 #positionCard3 p {
			font-family: helvetica;
			font-size: 12px;
			filter: drop-shadow(1px 1px 2px #00a0ff) drop-shadow(-1px -1px 2px #00a0ff);
		}

		#quienessomos #card3container #card3 #textCard3 {
			height: 50px;
			width: 100%;
			position: absolute;
			top: 202px;
			font-size: 13.4px;
			line-height: 16px;
			padding: 0 5px;
			text-align: center;
			color: #00a0ff;
		}

		#quienessomos #card3container #card3 #socialMediaContainerCard3 {
			position: absolute;
			bottom: 0px;
			height: 75px;
			width: 100%;
			display: flex;
			justify-content: space-evenly;
			align-items: center;
		}

		/*** Social media 1 ***/
			#quienessomos #card3container #card3 #socialMedia1Card3 {
				height: 50px;
				width: 75px;
				width: 50px;
				position: relative;
				background: #ffffff45;
				background: #00000000;
				overflow: hidden;
				box-shadow: 0px 14px 0px -12px #00a0ff;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 28px;
				transition: 0.2s;
			}

			#quienessomos #card3container #card3 #socialMedia1Card3:hover {
				box-shadow: 0px 9px 4px -6px #00a0ff;
			}

			#quienessomos #card3container #card3 #socialMedia1Card3 i {
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 28px;
				transition: 0.2s;
				color: #212529;
			}

			#quienessomos #card3container #card3 #socialMedia1Card3:hover i {
				color: #00a0ff;
			}

			#quienessomos #card3container #card3 #socialMedia1Card3 span {
				position: absolute;
			}

			#quienessomos #card3container #card3 #socialMedia1Card3 span:nth-child(1) {
				height: 1px;
				width: 50px;
				right: 100%;
				top: 0px;
				background: linear-gradient(90deg, transparent, #00dcff);
			}

			#quienessomos #card3container #card3 #socialMedia1Card3:hover span:nth-child(1) {
				right: -100%;
				transition: 1s 0.3s;
			}

			#quienessomos #card3container #card3 #socialMedia1Card3 span:nth-child(2) {
				right: 0;
				bottom: 100%;
				height: 50px;
				width: 1px;
				background: linear-gradient(180deg, transparent, #00dcff);
			}

			#quienessomos #card3container #card3 #socialMedia1Card3:hover span:nth-child(2) {
				bottom: -100%;
				transition: 1s 0.6s;
			}

			#quienessomos #card3container #card3 #socialMedia1Card3 span:nth-child(3) {
				height: 1px;
				width: 50px;
				background: linear-gradient(270deg, transparent, #00dcff);
				bottom: 0px;
				left: 100%;
			}

			#quienessomos #card3container #card3 #socialMedia1Card3:hover span:nth-child(3) {
				left: -100%;
				transition: 1s 0.9s;
			}

			#quienessomos #card3container #card3 #socialMedia1Card3 span:nth-child(4) {
				height: 50px;
				width: 1px;
				background: linear-gradient(0deg, transparent, #00dcff);
				top: 100%;
				left: 0;
			}

			#quienessomos #card3container #card3 #socialMedia1Card3:hover span:nth-child(4) {
				top: -100%;
				transition: 1s;
			}


		/*** Social media 2 ***/
			#quienessomos #card3container #card3 #socialMedia2Card3 {
				height: 50px;
				width: 50px;
				background: #ffffff7d;
				background: rgb(255 255 255 / 10%);
				background: rgb(224 244 255);
				position: relative;
				bottom: 0px;
				display: flex;
				justify-content: center;
				align-items: center;
				box-shadow: 0px 15px 29px -12px rgb(0 111 255);
				border-radius: 29%;
				border-top: 1px solid rgba(255, 255, 255, 0.3);
				border-left: 1px solid rgba(255, 255, 255, 0.3);
				backdrop-filter: blur(5px);
				box-shadow: 0px 5px 6px -4px #0095ff;
				transition: 0.2s;
			}

			#quienessomos #card3container #card3 #socialMedia2Card3:hover {
				/*transform: scale(1.2);*/
				/*box-shadow: 0px 15px 29px -12px rgb(0 111 255), 0px -3px 29px -10px rgb(0 111 255);*/
				bottom: 3px;
				box-shadow: 0px 5px 10px -2px #0095ff;
			}

			#quienessomos #card3container #card3 #socialMedia2Card3 span {
				transform: scale(1.5);
				text-shadow: 0px 0px 10px rgb(0 111 255);
				background: linear-gradient(to right, #006fff, #00acff 70%);
				-webkit-background-clip: text;
				-moz-background-clip: text;
				-webkit-text-fill-color: transparent;
			}


		/*** Social media 3 ***/
			#quienessomos #card3container #card3 #socialMedia3Card3 {
				height: 50px;
				width: 50px;
				/* background: #ffffff7d; */
				/* background: rgb(255 255 255 / 10%); */
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				/* box-shadow: 0px 15px 29px -12px rgb(0 111 255); */
				border-radius: 29%;
				/* border-top: 1px solid rgba(255, 255, 255, 0.3); */
				/* border-left: 1px solid rgba(255, 255, 255, 0.3); */
				/*backdrop-filter: blur(5px);*/
				transition: 1s ease;
			}

			#quienessomos #card3container #card3 #socialMedia3Card3 span {
				transform: scale(1.5);
				/*text-shadow: 0px 0px 10px rgb(0 111 255);*/
				background: linear-gradient(to right, #006fff, #00acff 70%);
				-webkit-background-clip: text;
				-moz-background-clip: text;
				-webkit-text-fill-color: transparent;
			}

			#quienessomos #card3container #card3 #socialMedia3Card3 span:hover {
				filter: drop-shadow(0px 0px 6px rgb(0 111 255));
			}

		#quienessomos #card3container #card3 #lightLine1 {
			width: 1px;
			height: 325px;
			position: absolute;
			left: 0;
			top: 0;
			background: linear-gradient(180deg, #00a0ff, transparent);
			background-size: 1px 100px;
			background-repeat: no-repeat;
			background-position: 0px -44%;
			animation: moveLightLine 3s infinite reverse;
			filter: drop-shadow(0px 0px 7px white);
		}

		#quienessomos #card3container #card3 #lightLine2 {
			width: 1px;
			height: 325px;
			position: absolute;
			right: 0;
			bottom: 0;
			background: linear-gradient(0deg, #00a0ff, transparent);
			background-size: 1px 100px;
			background-repeat: no-repeat;
			background-position: 0px -100%;
			animation: moveLightLine 3s infinite;
			filter: drop-shadow(0px 0px 7px white);
		}

		@keyframes moveLightLine {
			0% {
				background-position: 0px -100%;
			}
			100% {
				background-position: 0px 200%;
			}
		}

		



/*********************************** FOOTER ************************************/

	#footer {
		display: grid;
		grid-template-areas:    "info"
								"copyright";
	}

	#contenedorinfo {
		grid-area: info;
		display: flex;
		justify-content: center;
	}

	#navegacionfooter {
		background: red;
		align-items: center;
		justify-content: center;
		display: inline-block;
		margin-right: 40px;
	}

	#contenedornavegacion {
		
	}

	#contenedornavegacion h1 {
		text-transform: uppercase;
		font-size: 20px;
	}

	#navegacionfooter div p {
		display: inline-block;
		margin-left: 5px;
	}

	#mediosdepagofooter {
		background: blue;
		display: inline-block;
	}

	#mediosdepagofooter h1 {
		text-transform: uppercase;
		font-size: 20px;
		margin-bottom: 6px;
	}

	#mediosdepagofooter img {
		transform: scale(0.7);
		margin: -11px;
	}

	#faqs {
		background: white;
		display: inline-block;
		margin-left: 40px;
	}

	#faqs h1 {
		text-transform: uppercase;
		font-size: 20px;
	}

	#faqs div p {
		display: inline-block;
	}

	#contactofooter {
		background: white;
		display: inline-block;
		margin-left: 40px;
	}

	#contactofooter div {
		display: block;
		margin-bottom: 10px;
		margin-left: 7px;
	}

	#contactofooter h1 {
		text-transform: uppercase;
		font-size: 20px;
		margin-bottom: 3px;
	}

	#contactofooter div i {
		color: red;
		transform: scale(1.8);
	}

	#contactofooter div p {
		display: inline-block;
		margin-left: 10px;
	}


	#copyright {
		grid-area: copyright;
		background: brown;
	}