/***************************** MEDIA QUERYS *********************************/
/* ARCHIVO QUE VA AL FINAL PARA QUE NADA LO SOBREESCRIBA */

	/* Menu visibile on hover ONLY on devices that support this event. Otherwise, it's displayed with the click event (JS) */
	@media (hover: hover) {
		#superItem:hover #contenedorSubItems {
			display: flex;
		}
	}

	@media screen and (max-width: 1130px) {
		#productsContainer {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
	}

	@media screen and (max-width: 1000px) {
		#quienessomos {
			height: fit-content;
			grid-template-areas: 	"title title"
									"card1 card2"
									"card3 card4";
			grid-template-rows: min-content 1fr 1fr;
			grid-template-columns: repeat(2, 1fr); /* 2 cards */
		}
	}

	@media screen and (max-width: 920px) {
		#productsContainer {
			grid-template-columns: 1fr 1fr 1fr;
		}
		#contenedorinfo {
			grid-template-areas: 	"a b"
									"c d";
		}
	}

	@media screen and (max-width: 720px) {
		#productsContainer {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr;
			row-gap: 0px;
		}
	}

	@media screen and (max-width: 700px) {
		h2 {
			font-size: 2rem;
		}
		#presupuestoyformulario {
			grid-template-areas: 	"presupuesto"
									"formulario";
			grid-template-columns: 1fr;
		}
		#quienessomos {
			grid-template-areas:
								"title"
								"card1"
								"card2"
								"card3"
								"card4";
			grid-template-columns: 1fr;
			grid-template-rows: 0.2fr repeat(4, 1fr); /* title + 4 cards */
		}
		#modalContainer {
			align-items: unset; /* Remove align-items = center for smaller screens because it won't let you add margin bottom */
		}
		#contenedorproductooverlay {
			grid-template-areas: 	"foto"
									"datos";
			/*background-size: 190% 138%;*/
			min-width: 263px;
			grid-template-columns: none;
			width: auto;
			max-height: none;
			/*height: auto;  VER SI QUEDA MAL EL ALTO */
			/*position: absolute;*/
			/*top: 10px;*/
			margin: 10px;
		}
		#contenedorimagen {
			height: auto;
	    	width: 100%;
		}
		#imagenoverlay {
		    height: auto;
	    	width: 100%;
		}
		#precio, #talles, #colores {
			margin-bottom: 5px;
	    	padding-bottom: 7px;
		}
		#expandButton {
			visibility: visible; 
		}
	}

	@media screen and (max-width: 575px) {
		#searchBarAndOrderByContainer {
			flex-direction: column;
		}
	}

	@media screen and (max-width: 500px) { /** TELEFONOS **/
		#productsContainer {
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 1fr 1fr;
			row-gap: 15px;
		}
		#contenedorproductooverlay {
			/*width: 90%;*/
		    /*left: 18%;  bastante a los costados para que se achique a lo alto tambien */
		    /*margin: 0 10px;*/
		    /*transform: none;*/
/*	overflow-y: auto;
	position: fixed;
	height: auto;
	max-height: calc(100vh - 72px);
	top: 60px;*/
		}
		#contenedorinfo {
			gap: 15px;
		}
		
	}

	@media screen and (max-width: 438px) {
		#contenedorinfo h5 {
			font-size: 1rem;
		}
		#contenedorinfo p {
			font-size: 15px;
		}
	}

	@media screen and (max-width: 400px) {
		#contenedorinfo {
			gap: 6px;
			padding: 10px 5px;
		}
		#mediosdepagofooter img {
			height: 1.9rem;
		}
	}

	@media screen and (max-width: 300px) {
		#contenedorinfo {
			grid-template-areas:
								"a"
								"b"
								"c"
								"d";
		}
	}

	@media (hover: none) { /* Devices that doesn't have hover */
		.contenedorProducto {
			height: fit-content;
			/*height: 319px;*/
			width: 210px;
			border-radius: 10px;
			overflow: hidden;
		}
		.productBackground {
			width: 100%;
			height: 100%;
			padding-top: 5px;
			/*border-radius: 11px;*/
		}
		.productBackground:hover { /* reset values */
			transform: none;
			z-index: 1;
			width: 100%;
			height: 100%;
			/*padding-top: 5px;*/
			box-shadow: none;
		}
		.imageContainer {
			flex-direction: column;
			height: 100%;
			width: 95%;
			/*overflow: visible;*/
			justify-content: flex-start;
		}
		.imageContainer .imgContainer {
			border-radius: 10px;
			box-shadow: 0px 2px 15px #1d2d5040;
		}
		.nombreyprecio { /* not for mobiles */
			display: none;
		}
		.nombreMobile, .precioMobile {
			display: flex;
			margin-bottom: 0;
		}
		.nombreMobile {
			font-size: 1.2rem;
			width: 100%;
			justify-content: center;
			text-align: center;
			/*padding-left: 5px;*/
			font-family: IBM Plex Serif;
			font-weight: bold;
			color: var(--color0);
			background: -webkit-linear-gradient(90deg, #1d4191, #1a6db1);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			filter: drop-shadow(0px 1px 0px white);
			padding-top: 5px;
		}
		.precioMobile {
			font-size: 1.4rem;
			font-family: 'DM Serif Display';
			font-weight: bold;
			width: 100%;
			justify-content: center;
			color: var(--color0);
		}
		.imageContainer .botones {
			display: flex;
			width: 100%;
			height: 46px;
		}
		.botones .contenedorCarrito {
			width: 70%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.botones .contenedorCarrito i {
			display: inline-block;
			transform: scale(1.2);
			margin-right: 7px;
			color: var(--color2);
		}

		.botones .contenedorCarrito input {
			display: inline-block;
			width: 40px;
			height: 22px;
			border-radius: 10px;
			border-style: none;
			text-align: center;
			font-size: 16px;
			color: var(--color1);
		}
		.botones .contenedorBoton {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			width: 100%;
		}
		.contenedorBoton .alpresupuestoMobile {
			position: relative;
			width: 88%;
			background: lightgrey;
			border-radius: 13px;
			height: fit-content;
			box-shadow: 0px 3px 0px #081e50;
			background: var(--color2);
			box-shadow: 0 0 11px #000000cc;
			background: linear-gradient(0deg, #22396c, #2652af );
		}
		.contenedorBoton .alpresupuestoMobile h3 {
			text-align: center;
			font-size: 1em;
			/* font-weight: bold; */
			line-height: 1.22em;
			color: var(--color5);
			text-shadow: -1px -1px 0px #041b4e;
		}
	}

