/* List of elements that won't display on this type of modal */
#talles, #colores, #botones	{
	display: none;
}

:root {
	--altura-subtitulos: 23px;
	--colorA: #e3e3e3;
}

body {
	/*width: 100vw;
	height: 100vh;*/
	margin: 0;
	/*display: flex;
	align-items: center;
	justify-content: center;*/
}

#contenedorproductooverlay p, #contenedorproductooverlay h2, #contenedorproductooverlay h1, #contenedorproductooverlay h3 {
	margin: 0;
	text-transform: uppercase;
}

#contenedorproductooverlay h1 {
	font-size: 2em;
	line-height: 1em;
	background: -webkit-linear-gradient(90deg, #1d4191, #1a6db1);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	filter: drop-shadow(0px 1px 0px white);
	font-family: 'Zilla Slab', serif;
}

/* No usado. En caso de usar definir font family */
#contenedorproductooverlay h2 {
	display: inline-block;
	font-size: var(--altura-subtitulos);
	position: relative;
	top: 2px;
	/*font-weight: bold;*/
	line-height: 1.22em;
	color: var(--color1);
	background: -webkit-linear-gradient(90deg, #0f2454, #10426a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	filter: drop-shadow(1px 1px 0px #eee);
}

#contenedorproductooverlay h3 {
	/* Option 1 */
	text-align: center;
	font-size: 0.9em;
	line-height: 1.22em;
	color: var(--color5);
	/*text-shadow: -1px -1px 0px #041b4e;*/
	/*font-family: vag rounded bt;*/
	letter-spacing: 1px;
	pointer-events: none;

	/* Option 2 */
	/*text-align: center;
	font-size: 0.9em;
	font-weight: bold;
	line-height: 1.22em;
	color: #1c55a0;
	letter-spacing: 1px;*/
}

#contenedorproductooverlay p {
	font-size: 20px;
}

/********************************** OVERLAY / MODAL ****************************************/

	/*********************************** ESTRUCTURA PPAL **************************************/
		#modalContainer {
			background: #00000060;
			position: fixed;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: 430;
			overflow-y: auto;
			visibility: hidden;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		#modalContainer::-webkit-scrollbar {
			display: none;
		}

		#contenedorproductooverlay {
			position: relative;
			/* Option 1 */
			background: var(--color5);
			/* Option 2 */
			background: radial-gradient(circle at center, white, #cbcbcb);
			/*background-position-x: center;*/
			/*background-position-y: center;*/
			/*height: 80%;*/
			height: fit-content;
			/*width: 40%;*/
			width: fit-content;
			display: grid;
			grid-template-areas: "foto datos";
			/*grid-template-columns: min-content auto;*/
			/*max-height: 400px;*/
			min-height: 330px;
			min-width: 636px;
			/*position: fixed;  fixed para >660, el resto absolute*/
			/*top: 50%;*/
			/*left: 50%;*/
			/*transform: translate(-50%, -50%);*/
			z-index: 201;
			visibility: hidden;
			box-shadow: 0 0 120px 0 #000000eb;
			justify-items: center;
			align-items: center;
		}

		/* Opcional. Para activarlo volver a poner el width */
		#contenedorproductooverlay:after {
			content: "";
			/*width: 100%;*/
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			background: radial-gradient(transparent, black);
			opacity: 0.2;
			pointer-events: none;
		}

		#contenedorimagen {
			grid-area: foto;
			position: relative;
			height: 100%;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			max-width: 400px;
			max-height: 400px;
			/*padding: 10px;*/
			overflow: hidden;
		}

		#contenedorOverflow {
			overflow: hidden;
			position: relative;
			height: 100%;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			/*border-radius: 25px 0 25px 0;*/
		}

		#imagenoverlay {
			height: 100%;
			width: auto;
			/*border-radius: 25px 0 25px 0;*/
			/*max-width: 400px;*/
		}

		#contenedorOverflow .verticalImageOverlay {
			width: 100%;
			height: auto;
			/*max-width: 400px;*/
			/*max-height: none;*/
		}

		#contenedorOverflow .horizontalImageOverlay {
			height: 100%;
			width: auto;
		}

		/* ALTERNATIVA: por ejemplo, con imagenes mas anchas que largas, que la imagen entre completa (todo su ancho) y poner background en el contenedor del mismo color de fondo */
			/*
			#imagenoverlay {
				max-width: -webkit-fill-available;
				width: auto;
				border-radius: 25px 0 25px 0;
				max-height: 400px;
				height: auto;
			}

			#contenedorOverflow {
				overflow: hidden;
				position: relative;
				height: 95%;
				width: 95%;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 25px 0 25px 0;
				background: white;
			}
			*/

		#datos {
			grid-area: datos;
			display: grid;
			grid-template-areas:
				"name"
				"marca"
				"description"
				"price"
				"input";
			grid-template-rows: min-content min-content 1fr min-content min-content;
			padding: 10px;
			position: relative;
			height: 100%;
			width: 100%;
			max-width: 460px;
			box-shadow: -4px 0 22px 0px #0000002b;
			box-sizing: border-box;
		}

	/************************ EXIT ******************/
		#quitModalIconContainer {
			position: absolute;
			right: 5px;
			top: 5px;
			z-index: 2;
			height: 20px;
			width: 20px;
			background: var(--color5);
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		#quitModalIcon {
			cursor: pointer;
			opacity: 0.6;

		}

	/*************************************** NOMBRE ******************************************/

		#nombre {
			grid-area: name;
			text-align: left;
			color: var(--color1);
			display: flex;
			align-items: flex-end;
		}

	/**************************** MARCA ****************************/
		#productBrand p {
			color: #5dacff;
			font-weight: bold;
		}

	/**************************** DESCRIPTION **********************/
		#productDescription {
			grid-area: description;
		}

		#productDescription p {
			font-size: 15px;
			text-transform: none;
			color: rgb(1 69 155);
			font-family: 'Overlock', cursive;
			text-align: justify;
			line-height: 1.1em;
			letter-spacing: -0.5px;

			/* Optional */
			/*border-left: 3px solid #1a5ea4;
			padding-left: 5px;*/
		}

	/************************ CODE ************************/
		#productCode {
			grid-area: code;
			width: 100%;
			/*background: var(--color2);*/
			/*padding: 0 5px 0 5px;*/
			/*border-radius: 30px;*/
			/*position: relative;*/
			/*left: 50%;*/
			/*transform: translate(-50%, 0px);*/
			display: flex;
			justify-content: flex-end;
			display: none;
		}

		#productCode p {
			font-size: 13px;
			text-transform: none;
			width: fit-content;
			background: var(--color2);
			border-radius: 0 0 8px 8px;
			padding: 0 5px 0 5px;
			color: white;
		}

	/************************************** TITULOS ********************************************/

		#precio, #talles, #colores {
			/*border-bottom: 1px solid white;*/
		    /*box-shadow: inset 0px -1px 0 #9b9b9b;*/
		    /*margin-right: 10px;*/
		}

	/************************************* PRECIO ************************************/
		#precio {
			grid-area: price;
			display: flex;
			align-items: flex-end;
		}

		#precio #tituloprecio {
			display: none;
		}

		.fa-dollar-sign {
			height: var(--altura-subtitulos);
			width: auto;
			transform: scale(1.3);
		    position: relative;
		    top: 1px;
		    margin-right: 6px;
		    color: #ffe000;
		    text-shadow: 1px 1px 0 black;
		}

		.fa-credit-card {
			color: #176cd6;
		}

		#tituloprecio {
			display: block;
		}

		#tituloprecio h2, i {
			display: inline-block;
		}

		#precio #contenidoprecio {
			font-weight: 600;
			/*text-shadow: 0px 1px #eee;  To prevent blur from font-weight */
			font-size: 48px;
			width: 100%;
			display: flex;
			justify-content: flex-end;
			background: -webkit-linear-gradient(277deg, #fff700, #ffbf00);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			filter: drop-shadow(1px 1px 0px #997200);
		}

		/*#contenidoprecio, #textoCuotas1, #contenedorPrecioCuota, #textoCuotas2, #contenedorcuotas {
			display: inline-block;
		}*/

		#contenedorcuotas {
			margin-left: 7px;
		}

		#contenedorcuotas i {
			margin-right: 2px;
		}

		#contenedorcuotas p, #contenedorcuotas span {
			font-size: 15px;
			position: relative;
		    top: -2px;
		}

		#contenedorPrecioCuota {
			font-weight: 600;
			text-shadow: 0px 1px #eee; /* To prevent blur from font-weight */
			margin-left: 2px;
		}



	/********************************* BOTONES FINALES / INPUT *****************************/

		#botones {
			grid-area: input;
			display: flex;
			align-items: flex-end;
			justify-content: center;
			border-top: 1.9px solid white;
			box-shadow: inset 0px 1px 0 #9b9b9b;
			padding-top: 8px;
		}


		#contenedorCarrito {
			width: 30%;
			height: 100%;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    padding-left: 7px;
		}

		#botones i {
			display: inline-block;
			transform: scale(1.2);
			margin-right: 7px;
			color: var(--color2);
		}

		#botones input {
			display: inline-block;
			width: 40px;
		    height: 22px;
		    border-radius: 5px;
		    border-style: none;
		    text-align: center;
		    font-size: 16px;
		    color: var(--color1);
		}

		/* ELIMINAR LAS FLECHAS DE LOS INPUT NUMBER */
		/* Chrome, Safari, Edge, Opera */
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
		  -webkit-appearance: none;
		  margin: 0;
		}

		/* Firefox */
		input[type=number] {
		  -moz-appearance: textfield;
		}

		#contenedorBoton {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
		}

		#alpresupuesto {
			/* Option 1 */
			/*position: relative;
			width: 80%;
			border-radius: 7px;
			height: fit-content;
			padding: 3px 0px;
			border: 1px solid #1c55a0;*/

			/* Option 2 */
			position: relative;
			width: 80%;
			border-radius: 7px;
			height: fit-content;
			background: #ff0000;
			 box-shadow: 0 0 11px #000000cc; /* Option 2 > And delete effect on click */
			background: linear-gradient(0deg, #1d4a98, #1b67ad);
		}

	/*************************************** BACKGROUND ******************************************/

		#backgroundOverlay {
			width: 100vw;
			height: 100vh;
			background: black;
			z-index: 200;
			position: fixed;
			top: 0;
			left: 0;
			visibility: hidden;
			opacity: 0.4;
		}